body {
    margin: 0;
    background-color: #070B14;
    color: #FFFFFF;
    font-family: "Inter";
    
}



.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 700;
    font-size: 64px;
}

h2{
    font-weight: 700;
    font-size: 44px;
}



.page-header {
    background-color: #0A0F1A;
    border: 2px solid #151B28;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    

}

.site-logo{
    font-size: 24px;
    font-weight: 700;
    
    margin-right: 278px;
}

.main-nav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 14px;
    margin-top: 4px;
    width: 100%;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    
}

.site-navigation-item a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin-right: 40px;
}

.promo {
    background-color:#07111F;
    background: radial-gradient(closest-side, #0d039c80, #0b037040, #07111F);
    border-radius: 20px;
    
        
    margin-bottom: 40px;
    max-width: 1280px;
}

.promo-only-text h1{
    padding-left: 36px;
    max-width: 690px;
    margin-right: 0;

}

.hacker-img {
    margin-right: 800px;
}

.promo-text{
    padding-left: 36px; 
    max-width: 531px;
}



.edu-resource {
    display: inline-block;
    background-color: #0A1E3A;
    color: #1E90FF;
    border-radius: 8px;
    height: 32px;
    padding-top: 9px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 28px;
    margin-left:44px;
}

.promo-buttons{
    display: flex;
}

.promo-with-img {
    display: flex;
}

.study-history-button {
    
    display: inline-block;
    background-color: #0D47A7;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 60px;
    margin-bottom: 87px;
    
}

.study-history-button a{
    text-decoration: none;
    color: #FFFFFF;
}

.sections-button {
    display: inline-block;
    border:#5D687D solid 3px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px;
    
    padding-right: 19px;
    padding-bottom: 19px;
    padding-top: 19px;
    margin-bottom: 87px;
}

.sections-button a{
    text-decoration:  none;
    color:#FFFFFF;
}




.main-directions h2{
    margin-bottom: 50px;
}

.directions {
    display: flex;
}

.direction-item {
    background-color: #0A101B;
    border:#172132 solid 1px;
    border-radius: 12px;
    max-width: 292px;
    height: 320px;
    margin-right: 24px;
    padding-top: 34px;
}

.direction-item h3,p,a {
    padding-left: 22px;
}

.direction-item img{
    margin-left: 7%;
}

.direction-item p {
    color: #AEB7C9;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.direction-item a{
    text-decoration: none;
    color: #1E90FF;
    padding-bottom: 36px;
}


.direction-item :nth-child(2){
    max-width: 247px;
}

.direction-item :nth-child(3){
    max-width: 259px;
}

.start-cards {
    display: flex;
}

.start-card {
    display: flex;
    width: 400px;
    height: 220px;
    border: solid 1px #1D2740;
    border-radius: 12px;
    margin-right: 20px;

    padding-top: 44px;
}


.beginner {
    background-color: #08172D;
}

.start-card-img {
    margin-right: 20px;
}

.start-card-content p{
    color: #B6BED0;
    line-height: 28px;
    max-width: 352px;
}

.arrow{
    margin-right: 60px;
    margin-top:100px
}

.attacks {
    background-color: #131327;
}

.guard {
    background-color:#0D1718;
}

.where-start {
    margin-bottom: 76px;
}
.roadmap {
    display: flex;
    background-color: #0B1F43;
    border-radius: 14px;
    border:#183B73 solid 1px;
    
    
    margin-bottom: 20px;
    max-width: 1280px;
}

.roadmap h2 {
    font-size: 24px;
    font-weight: 700;
    padding-left: 106px;
    padding-top: 26px;
}

.roadmap p {
    color: #C4CBE0;
    font-size: 16px;
    font-weight: 600;
    padding-left: 186px;
    width: 371px;
    padding-bottom: 26px;
}

.roadmap-button {
   
    display: inline flex;
        
    background-color: #0A67FF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 61px;
    margin-bottom: 47px;
    
    padding-right: 2%;
    padding-bottom: 0;
    max-width: 260px;
    height: 72px;
    
}

.roadmap-button a {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 40px;
    margin-right: 9px;
    padding-top: 24px;
}

.roadmap-content{
    margin-right: 155px;
}

.roadmap-content p{
    margin-bottom: 26px;
}

.footer {
    max-width:100%;
    background-color: #060A12;
    border: solid #151C29 1px;
    
}

.footer .container{
    display: flex; 
}





.footer-column {
    margin-top: 20px;
}

.footer-site-logo{
    font-size: 24px;
    color:#FFFFFF;
    font-weight: 700;
}

.footer-column-text {
    width: 313px;
    color: #A8B1C4;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 80px;
     
}

.footer-navigation-topics{
    display: flex;
    margin-top: 32px;
}

.footer-navigation-topic h2{
    margin-left: 60px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    
}

.footer-navigation-topic{
    max-width:310px;
    
}

.footer-navigation-item{
    
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 80px;
    
    
}

.footer-navigation-item :last-child{
    margin-right: 0px;
    
}

.footer-navigation-item a{
    text-decoration: none;
    color: #A8B1C4;
}








/*Вторая страница*/

.hero-mini-title {
    display: inline-block;
    color: #1E90FF  ;
    background-color: #0A1E3A;
    border:solid 1px #123B6D;
    border-radius: 8px;
    padding-top:8px;
    padding-bottom: 7px;
    padding-right: 20px;
}

.hacker-info{
    padding-left: 40px;
    display: flex;
    background-color: #0A101B;
    border:#172132 solid 1px;
    border-radius: 14px;
}

.hacker-info h2{
    margin-top: 32px;
    margin-left: 20px;
    font-size: 26px;
    margin-bottom: 0;
}

.hacker-info p{
    margin-top: 15px;
    margin-bottom: 37px;
    color:#B4BDCF;
    font-weight: 600px;
    font-size: 16px;
}

.hacker-info img {
    margin-top:35px;
}

.famous-hackers h2{
    font-size: 32px;
}
.famous-hackers ul{
    display: flex;
    padding-left: 0;
    
}

.famous-hackers ul li {
    
    width: 292px;
    background-color: #0A101B;
    border:solid 1px #172132;
    border-radius: 12px;
    margin-right: 38px;
    padding-bottom: 22px;
    display: flex;
  flex-direction: column;
}

.famous-hackers ul li h3{
    margin-left: 24px;
}

.famous-hackers ul li p{
    color: #AEB7C9;
}
.famous-hackers ul li a{
    text-decoration: none;
    color:#1E90FF;
    margin-top: auto;
    
}

.famous-hackers ul li img{
    margin-left: 24px;
    margin-top: 10px;
}

.hackers-groups-container {
    background-color: #0A101B;
    border: solid 1px #172132;
    border-radius: 12px;
}

.hackers-groups-container h3{
    margin-left: 139px;
    font-weight: 600;
    font-size: 20px;
}

.anonymous h2 {
     font-size: 32px;
    font-weight: 700;
}

.hackers-groups-container p{
    margin-left:115px;
    color: #AEB7C9;
    font-size: 16px;
    max-width: 251px;
}

.more-info h2{
    font-size: 32px;
    font-weight: 700;
}

.more-info ul{
    display: flex;
    justify-content: space-between;
}

.more-info ul li{
    display: flex;
    background-color: #0A101B;
    border: #172132 solid 1px;
    border-radius: 14px;
    max-width: 400px;
    margin-right: 2%;
}

.more-info ul li img{
    margin-left: 22px;
}

.more-info-text h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.more-info-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #AEB7C9;
    margin-right: 25px;
}











/*Третья страница*/

.transition{
    display: flex;
    padding: 0;
}

.transition li {
    color: #7C879C;
    font-size: 14px;
    font-weight: 400;
}

.transition li a{
    margin-right: 20px;
    text-decoration: none;
    color: #7C879C;
}

.transition li a.selected{
    color:#1E90FF;
}

.transition li:first-child{
    padding-left: 0;
}




.hacker-mini-title {
    display: inline;
    border:solid 1px #123B6D;
    border-radius: 8px;
    background-color: #0A1E3A;
    color: #1E90FF;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.hacker-promo{
    display: flex;
    justify-content: space-between;
}



.hacker-promo-text h1{
    font-size: 56px;
    font-weight: 700;
}

.eng-name {
    font-size: 28px;
    font-weight: 700;
    color: #B4BDCF;
    padding: 0;
}

.hacker-mini-info{
    font-size: 18px;
    font-weight: 600;
    color:#B4BDCF;
    line-height: 30px;
    padding-left: 0;
    max-width: 436px;
}

.summary{
    margin: 0;
    padding-left:57px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto minmax(2rem, auto);
    gap: 1rem;  

}

.summary li{
    display: contents;
    color: #B4BDCF;
    font-weight: 600;
    font-size: 15px;
    

}

.summary-white-text{
    color: #FFFFFF;
}

.hacker-history h2{
    font-size: 32px;
    font-weight: 700;
}

.hacker-history p{
    font-size: 16px;
    font-weight: 500;
    color: #B4BDCF;
    width: 600px;
}

.hacker-history-text{
    display: flex;
    border: #172132 solid 1px;
    background-color: #0A101B;
    border-radius: 14px;
    line-height: 30px;
    
    padding-bottom: 20px;
}



.famous-hacks h2{
    font-size: 32px;
}

.famous-hacks ul{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.famous-hacks-item{
    
    border: solid 1px #172132;
    background-color: #0A101B;
    border-radius: 12px;
    
    max-width: 292px;
    height: 240px;
    padding-bottom: 8px;
}



.famous-hacks-item h3{
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}

.famous-hacks-item p{
    font-weight: 500;
    font-size: 14px;
    color: #B4BDCF;
    line-height: 24px;
}

p.years{
    color: #1E90FF;
    background-color: #0A1E3A;
    border: solid 1px #1E90FF ;
    border-radius: 999px;
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-left: 20px;
    margin-bottom: 0;
}

.methods h2{
    font-size: 32px;
    font-weight: 700;
}

.methods ul{
    display: flex;
    padding-left: 0;
}

.methods ul li{
    height: 180px;
}

.methods ul li:nth-child(1){
    background-color: #0A101B;
    border: solid #172132 1px;
    border-radius: 15px 0 0 15px; 
}

.methods ul li:nth-child(2){
    background-color: #0A101B;
    border: solid #172132 1px;
}

.methods ul li:nth-child(3){
    background-color: #0A101B;
    border: solid #172132 1px;
    border-radius: 0 15px 15px 0;
}

.methods ul li h3{
    padding-left: 150px;
    font-size: 16px;
    font-weight: 600;
}

.methods ul li p{
    font-size: 14px;
    font-weight: 500;
    color: #B4BDCF;
    padding-left: 150px;
    line-height: 24px;
}

.arrest{
    margin-bottom: 36px;
}

.arrest h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;  
}

.arrest-content{
    display: flex;
    border: #172132 solid 1px;
    border-radius: 14px;
    background-color: #0A101B;
    color: #B4BDCF;
    
}
.arrest-content-text{
    margin-bottom: 20px;
}

.arrest-content-text p{
    padding-left: 31px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    width: 521px;
    margin-right: 299px;
}

.arrest-content-text a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: solid #1E90FF 1px;
    border-radius: 12px;
    padding-right: 29px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 31px;
    
}

.quote q{
    
    font-size: 16px;
    font-weight: 500;
}

.quote {
    padding-top: 52px;
}

.quote p{
    font-size: 16px;
    color: #1E90FF;
   
}

.interest h2{
    font-size: 32px;
    font-weight: 700;
}

.interest ul{
    display: flex;
    padding-left: 0;
}

.interest ul li{
    display: flex;
    background-color: #0A101B;
    border:#172132 solid 1px;
    border-radius: 12px;
    width: 292px;
    margin-right: 38px;
}

.interest ul li img{
    padding-top: 25px;
    padding-left: 14px;
}

.interest-content h3{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.interest-content p{
    line-height: 24px;
    color: #B4BDCF;
    font-size: 14px;
    font-weight: 500;
    
}

.border-container{
    border:solid 1px #172132;
    border-radius: 14px;
    background-color: #0A101B;
}

.blue-border{
    color:#1E90FF;
    border:1px #123B6D solid;
    background-color: #0A1E3A;
    border-radius: 8px;
}

.types p{
    color:#B4BDCF;
    font-size: 16px;
    font-weight: 600s;
}

.points{
     list-style-type: disc; 
}

.points li{
    color: #B4BDCF;
}

.heading{
    display: flex;
}

.hats-item h3{
    padding-left: 10%;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    box-sizing: border-box; 
}

.hats-item{
    max-width: 380px;
    
    word-wrap: break-word; 
    overflow-wrap: break-word;
    box-sizing: border-box; 
    padding: 15px;
}

.hats-item img{
    margin-top: 50px;
}

.hats-item ul li{
    margin-bottom: 15px;
    
}

.other-hackers-item{
    max-width: 380px;
}

.other-hackers-item h3{
    padding-left: 28px;
    font-size: 20px;
    font-weight: 600;
}

.other-hackers-item p{
    padding-left: 26px;
    padding-right: 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #B4BDCF;
}


.remember{
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    margin-bottom: 2%;
}

.remember h3{
    padding-left: 1%;
    font-size: 20px;
    font-weight: 600;
    color: #1E90FF;
}

.remember p{
    margin-left: 0;
    font-size: 16px;
    font-weight: 600;
    color: #B4BDCF;
    padding-left: 1%;
    padding-right: 1%;
}

.remember img{
    max-width: 79px;
    max-height: 79px;
    padding: 2%;
}

.horizontal-list-new

.tools-item{
    max-width: 400px;
    
}

.tools-item h3{
    padding-left: 7%;
}

.tools-item {
    padding:5%;
}


.horizontal-list-new{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.horizontal-list{
    display: flex;
    justify-content: space-between;
}

.table-border{
    border: 1px solid #172132;
    border-radius: 12px;
    margin-bottom: 2%;
}

.table-border th{
    padding-top: 1%;
    padding-left: 1.1%;
}

.table-border td{
    color:#B4BDCF;
    padding: 1%;
    padding-left: 2%;
}

@media (max-width: 768px) {

    .main-nav{
        display: block;
        line-height: 10vw;
        text-align: center;
    }

    .site-navigation{
        display: block;
        text-align: center;
    }

    .site-logo{
        text-align: center;
    }

    .site-navigation-item{ 
        font-size: 1vw;
    }

    .page-header{
        width: 100%;
    }

    
    .footer .container{
        display: block;
    }

    .footer-navigation-topics{
        display: block;
        padding: 0;
    }

    .footer-navigation-topic{
        margin-bottom: 10%;
    }

    .promo-only-text h1{
        font-size: 10vw;
    }

    
    .promo-with-img{
        display: block;
    }

    .hacker-img{
        width: 100%;
        height: auto;
    }

    .promo-buttons{
        display: block;
    }

    .main-directions h2{
        text-align: center;
    }

    

    .directions{
        width: fit-content;  
        margin: 0 auto;
        display: block;
        
    }

    .directions li{
        margin-bottom: 7%;
    }

    .where-start h2{
        text-align: center;
    }

    .start-cards{
        display: block;
    }

    .start-card{
        width: fit-content;  
        margin: 0 auto;
        display: block;
    }

    .start-cards li{
        margin-bottom: 7%;
    }

    .roadmap{
        display: block;
        
    }

    .roadmap-button{
        margin-left: 19%;
        
    }

    .roadmap-content{
        width: 100%;
    }

    .roadmap h2{
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 6%;
        padding-left: 6%;
        margin-bottom: 7%;
    }

    .roadmap p {
        padding: 0;
        margin: 0;
        padding-left: 6%;
    }

    .hero h1{
        font-size: 10vw;
    }

    .famous-hackers h2{
        text-align: center;
    }

    .famous-hackers ul{
        display: block;
        width: fit-content;  
        margin: 0 auto;
        
    }
    
    .famous-hackers ul li{
        margin-bottom: 7%;
    }

    .anonymous h2{
        text-align: center;
    }

    .more-info h2{
        text-align: center;
    }

    .more-info ul{
        display: block;

    }

    .more-info ul li{
        margin-bottom: 7%;
    }


    .hacker-promo{
        display: block;
    }


    .famous-hacks ul{
        display: block;
        width: fit-content;  
        margin: 0 auto;
    }

    .famous-hacks li{
        margin-bottom: 7%;
    }

    .methods ul{
        display: block;
        width: fit-content;  
        margin: 0 auto;
    }

    .methods ul li{
        border-radius: 15px;
        margin-bottom: 7%;
    }

    .methods ul li:nth-child(1){
        border-radius: 15px; 
    }

    .methods ul li:nth-child(3){ 
        border-radius: 15px;
    }

    .arrest-content{
        display: block;
    }

    .horizontal-list{
        display: block;
        width: fit-content;  
        margin: 0 auto;
    }

    .horizontal-list-new{
        display: block;
        width: fit-content;  
        margin: 0 auto;
    }

    .horizontal-list-new li{
        margin-bottom: 7%;
    }

    .horizontal-list li{
        margin-bottom: 7%;
    }

    .classification h1{
        text-align: center;
        font-size: 10vw;
    }

    .types h2{
        text-align: center;
    }

    .other-hackers h2{
        text-align: center;
    }

    .comparison h2{
        text-align: center;
    }

    h1 {
        font-size: 10vw;
    }

    .horizontal-list-new-1{
        display: block;
        width: fit-content;  
        margin: 0 auto;
    }

    .horizontal-list-new-1 li{
        margin-bottom: 7%;
    }
    
    .classification img{
        width: 100%;
        height: auto;
    }

    .tools-promo img {
        width: 100%;
        height: auto;
    }
}